<div class="componentClass">

  <h2>Component draganddropformobile</h2>

  <div class="contentDrag">
    
    <div class="draggableElements">
      <span class="title">Draggable Elements</span>
      <div class="draggable ui-widget-content ui-draggable">
          <img src="/assets/arrow.png"/>
      </div>
      <div class="draggable ui-widget-content ui-draggable">
          <img src="/assets/arrow2.png" style="width:64px; height:64px;"/>
      </div>
    </div>
    <div class="containerElements">
      <span class="title">Container Elements</span>
      <div id="container" class="ui-widget-header ui-droppable ui-state-highlight"></div>
    </div>
  </div>
</div>